<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script defer src="fontawesome/js/all.js"></script> <!--load all styles -->

</head>
<body>
    <header id="header-section">
        <div class="header-content">
            <img class="header-image" src="images/headshot.jpg" alt="">
            <h1 class="main-header">Matt Townsend</h1>
            <ul class="header-links">
                <li><a href="" class="header-link"><i class="fab fa-github"></i></a></li>
                <li><a href="" class="header-link"><i class="fal fa-envelope"></i></a></li>
            </ul>                
        </div>
        <div class="scroll-arrow">
            <i class="fal fa-chevron-circle-down"></i>
        </div>
    </header>
    <section id="projects-section">
        <div class="container">
            <h2 class="section-header">Completed Projects</h2>
            <div class="project">
                <div class="project-content">
                    <h3 class="project-title">TPT Consultancy &amp; Training</h3>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sem purus, luctus a nibh ac, fermentum euismod felis. Quisque accumsan, risus sit amet tempor suscipit, augue elit laoreet leo, quis interdum ex orci imperdiet nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis purus et justo blandit, ac pharetra nunc mollis. Nam lobortis dui sed nisi lobortis, vitae porta velit semper. Donec sed nibh sodales, ullamcorper lorem vitae, tristique dolor. Vivamus tincidunt posuere porta. Vivamus consectetur velit felis, et vestibulum enim laoreet quis. Maecenas placerat sed mauris nec tristique. Nam fermentum lacinia dui. Proin a ante dictum, congue leo a, rutrum purus.</p>
                    </div>
                </div>
                <div class="project-content project-image-content">
                    <picture>
                        <source media="(min-width: 768px)" srcset="images/tpt.png">
                        <img class="project-image" src="images/tpt-mobile.png"  alt="">
                    </picture>
                    <div class="project-links">
                        <a href="" class="project-link">View Project</a>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-content">
                    <h3 class="project-title">Cyberpunk Recreation</h3>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sem purus, luctus a nibh ac, fermentum euismod felis. Quisque accumsan, risus sit amet tempor suscipit, augue elit laoreet leo, quis interdum ex orci imperdiet nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis purus et justo blandit, ac pharetra nunc mollis. Nam lobortis dui sed nisi lobortis, vitae porta velit semper. Donec sed nibh sodales, ullamcorper lorem vitae, tristique dolor. Vivamus tincidunt posuere porta. Vivamus consectetur velit felis, et vestibulum enim laoreet quis. Maecenas placerat sed mauris nec tristique. Nam fermentum lacinia dui. Proin a ante dictum, congue leo a, rutrum purus.</p>
                    </div>
                </div>
                <div class="project-content project-image-content">
                    <picture>
                        <source media="(min-width: 768px)" srcset="images/tpt.png">
                        <img class="project-image" src="images/tpt-mobile.png"  alt="">
                    </picture>                    
                    <div class="project-links">
                        <a href="" class="project-link"><i class="fab fa-github"></i> Github</a>
                        <a href="" class="project-link">View Project</a>
                    </div>
                </div>
            </div>
            <h2 class="section-header">Current Projects</h2>
            <div class="project">
                <div class="project-content">
                    <h3 class="project-title">Warcraft Character Tracker</h3>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sem purus, luctus a nibh ac, fermentum euismod felis. Quisque accumsan, risus sit amet tempor suscipit, augue elit laoreet leo, quis interdum ex orci imperdiet nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis purus et justo blandit, ac pharetra nunc mollis. Nam lobortis dui sed nisi lobortis, vitae porta velit semper. Donec sed nibh sodales, ullamcorper lorem vitae, tristique dolor. Vivamus tincidunt posuere porta. Vivamus consectetur velit felis, et vestibulum enim laoreet quis. Maecenas placerat sed mauris nec tristique. Nam fermentum lacinia dui. Proin a ante dictum, congue leo a, rutrum purus.</p>
                    </div>
                </div>
                <div class="project-content project-image-content">
                    <picture>
                        <source media="(min-width: 768px)" srcset="images/wow.png">
                        <img class="project-image" src="images/wow-mobile.png"  alt="">
                    </picture>                    
                    <div class="project-links">
                        <a href="" class="project-link"><i class="fab fa-github"></i> Github</a>
                        <a href="" class="project-link">View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>